.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #e8f4fd;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.nav__link {
  position: relative;
}

.nav__link i {
  font-size: 28px;
}

.nav__notification {
  position: absolute;
  bottom: 13px;
  right: -7px;
  animation: notification_rotate 2s ease-in-out infinite;
}

@keyframes notification_rotate {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
}

.nav__dot {
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  right: -3px;
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 0.4s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.4s;
}
.nav__btn:last-child {
  animation-delay: 0.6s;
}

.friends-nav .nav__btn:first-child {
  animation-delay: 0.7s;
}
.friends-nav .nav__btn:nth-child(2) {
  animation-delay: 0.9s;
}
.friends-nav .nav__btn:nth-child(3) {
  animation-delay: 1.1s;
}
.friends-nav .nav__btn:last-child {
  animation-delay: 1.3s;
}
